---
let images = [
  "/AstroApp/bg1.jpg",
  "/AstroApp/bg2.jpg",
  "/AstroApp/bg3.jpg",
  "/AstroApp/bg4.jpg",
  "/AstroApp/bg5.jpg",
];

let currentIndex = 0;
let nextIndex = (currentIndex + 1) % images.length;
---

<div id="carousel" class="carousel">
  <img
    id="next-img"
    src={images[nextIndex]}
    alt="next background"
    class="carousel-image"
  />
  <img
    id="current-img"
    src={images[currentIndex]}
    alt="current background"
    class="carousel-image"
  />
</div>

<script>
  let images = [
    "/AstroApp/bg1.jpg",
    "/AstroApp/bg2.jpg",
    "/AstroApp/bg3.jpg",
    "/AstroApp/bg4.jpg",
    "/AstroApp/bg5.jpg",
  ];

  let currentIndex = 0;
  let nextIndex = (currentIndex + 1) % images.length;

  function changeImage() {
    const currentImg = document.getElementById("current-img");
    const nextImg = document.getElementById("next-img");

    if (
      currentImg instanceof HTMLImageElement &&
      nextImg instanceof HTMLImageElement
    ) {
      currentImg.classList.add("fade-out");

      setTimeout(() => {
        currentImg.classList.remove("fade-out");
        currentImg.src = images[currentIndex];
        nextImg.src = images[nextIndex];
      }, 500); // Tiempo de transición
    }

    currentIndex = nextIndex;
    nextIndex = (currentIndex + 1) % images.length;
  }

  setInterval(changeImage, 3000);
</script>

<style>
  .carousel {
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta el tamaño según tus necesidades */
    overflow: hidden;
  }

  .carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Transición suave de opacidad */
    opacity: 1; /* Aseguramos que la imagen esté visible inicialmente */
  }

  .fade-out {
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Desvanece la imagen actual */
  }

  .fade-in {
    opacity: 1; /* Hace visible la imagen siguiente */
    transition: opacity 0.5s ease-in-out;
  }
</style>
