---
let images = [
  "/AstroApp/bg1.jpg",
  "/AstroApp/bg2.jpg",
  "/AstroApp/bg3.jpg",
  "/AstroApp/bg4.jpg",
  "/AstroApp/bg5.jpg",
];
---

<div id="carousel" class="carousel">
  {
    images.map((url, index) => (
      <img
        id={`next-img-${index}`}
        src={url}
        alt="next background"
        class="carousel-image"
      />
    ))
  }
</div>

<script>
  let currentIndex = 0; // Índice de la imagen actual
  const images = document.querySelectorAll(".carousel-image");

  function showImage(index: number) {
    const previousIndex = currentIndex;
    currentIndex = index;

    // Quitar las clases anteriores
    images.forEach((img) => img.classList.remove("active"));

    // Marcar la imagen actual como "active"
    images[currentIndex].classList.add("active");
  }

  // Función para avanzar
  function nextImage() {
    const nextIndex = (currentIndex + 1) % images.length;
    showImage(nextIndex);
  }

  // Inicializa el carrusel
  showImage(currentIndex);

  // Avance automático
  setInterval(nextImage, 5000);
</script>

<style>
  .carousel {
    position: relative;
    width: 100%;
    height: 55vh;
  }

  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* Transición suave */
    z-index: 0;
    opacity: 0;
  }

  .carousel-image.active {
    z-index: 1; /* Imagen activa al frente */
    opacity: 1; /* Completamente visible */
  }
</style>
