---
import NavbarToggle from "./NavbarToggle.jsx";
---

<nav class="fixed top-0 left-0 w-full z-50 bg-black px-4 py-4">
  <div
    class="flex items-center justify-between h-16 px-4 mx-auto max-w-screen-xl lg:px-8"
  >
    <a
      href="/"
      class="text-3xl font-extrabold text-white tracking-tight text-nowrap"
    >
      <span class="navbar-title">
        <span class="text-violet-800">A</span>NIME HEAVEN
      </span>
    </a>
    <ul
      class="items-center space-x-3 text-sm font-medium text-white lg:space-x-6 hidden md:flex"
    >
      <li class="navbar-item">
        <a href="/AstroApp">Home</a>
      </li>
      <li class="navbar-item">
        <a href="/AstroApp/Genres">Genre</a>
      </li>
      <li class="navbar-item">
        <a href="/Animes">Animes</a>
      </li>
      <li class="navbar-item">
        <a href="/Features">Features</a>
      </li>
      <li class="navbar-item">
        <a href="/News">News</a>
      </li>
      <li class="navbar-item">
        <a href="/Contact">Contact</a>
      </li>
      <li class="navbar-item bg-violet-800 py-3 px-6 rounded text-nowrap">
        <button class="login-btn">Sign Up</button>
      </li>
    </ul>
  </div>
  <NavbarToggle client:media="(max-width: 768px)" />
</nav>
